<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_TASKS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.START_TASKS_FROM_RECENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_APP_TOKENS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.INJECT_EVENTS"
        tools:ignore="ProtectedPermissions" />

    <permission android:name="im.github.ole.taskview.permission.CREATE_TASK_VIEW"
        android:protectionLevel="privileged|signature"/>
    <uses-permission android:name="im.github.ole.taskview.permission.CREATE_TASK_VIEW" />
    <permission android:name="im.github.ole.taskview.permission.MANAGE_OVERLAY"
        android:protectionLevel="privileged|signature"/>
    <uses-permission android:name="im.github.ole.taskview.permission.MANAGE_OVERLAY" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskViewMod">

        <service android:name=".service.TaskViewService"
            android:exported="true"
            android:enabled="true"
            android:directBootAware="true"
            android:permission="im.github.ole.taskview.permission.CREATE_TASK_VIEW">
            <intent-filter>
                <action android:name="im.github.ole.taskview.action.CREATE_TASK_VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service android:name=".service.TaskChannelService"
            android:exported="true"
            android:enabled="true"
            android:directBootAware="true"
            android:permission="io.github.ole.taskview.permission.MANAGE_OVERLAY">
            <intent-filter>
                <action android:name="io.github.ole.taskview.action.GET_OVERLAY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="io.github.ole.taskview.action.GET_HOST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>

</manifest>
